body {
    background: #ececec;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 10px #999;
}

input, button {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    background: #ff4757;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background: #e84118;
}

h2 {
    margin-top: 20px;
    color: #333;
}
